@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.max-w-8xl {
		max-width: 90rem;
	}
}

@layer components {
	/* App CSS */
	.UnitsContainer {
		@apply grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4 p-5
		w-full max-w-8xl mx-auto
		transition-all duration-500 ease-in-out origin-top-left;
	}

	.Unit {
		@apply shadow-md border-gray-500 border p-3 rounded-md opacity-95
		dark:bg-gray-800 dark:text-gray-100 dark:border-gray-700
		hover:scale-105 hover:shadow-lg hover:opacity-100
		transition duration-500 ease-in-out
		flex flex-col
		overflow-auto;
	}

	.StatsText {
		@apply text-blue-700 dark:text-yellow-500
		transition;
	}

	.UnitName {
		@apply text-3xl font-bold m-auto mb-3;
	}

	body {
		@apply dark:bg-gray-600;
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: #b3afb3;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #b3afb3;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
}
